<h2 class="text-center mt-4"><%= @article.title %></h2>
<div class="container">
    <div class="row justify-content-center">
      <div class="col-8 mt-4">
        <div class="card text-center shadow mb-5 bg-white rounded">
          <div class="card-body">
            <h5 class="card-title">
              By Admin
              <%# <%= link_to @article.title, article_path(@article), class: 'text-success title-link'%> 
            </h5>
            <div class="card-text text-left"><%= simple_format(@article.description) %></div>
            
            <%= link_to 'Edit', edit_article_path(@article), class: 'btn btn-outline-info' %>
            <%= link_to 'Delete', article_path(@article), method: :delete, class: 'btn btn-outline-danger' %>
          </div>
          <div class="card-footer text-muted">
            <small title="Created at <%= @article.created_at.strftime('%a %d %B %Y %I:%M:%S %p') %>">
                Created <%= time_ago_in_words(@article.created_at) %>,
            </small>

            <small title="Edited at <%= @article.updated_at.strftime('%a %d %B %Y %I:%M:%S %p') %>">
                Edited <%= time_ago_in_words(@article.updated_at) %>
            </small>
          </div>
        </div>
      </div>
    </div>
</div>