<!DOCTYPE html>
<html>
  <head>
    <title>AlphaBlog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="d-flex flex-column sticky-footer-wrapper min-vh-100">
        <%= render 'layouts/navigation' %>
        <main class="flex-fill">
          <%= render 'layouts/messages' %>
          <%= yield %>
        </main>
        <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
